<% Article.all.each do |article| %>
<p>
  <strong>Name:</strong>
  <%= article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= article.body %>
</p>

<p>
	<strong>Written by:</strong>
	<%= article.author.name %>
</p>
<% end %>
