<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome <%= current_user.name %> To The Article Library</h1>
  <p class="lead">Find The Author You Like, Find As Many Articles you can!</p>
  <hr class="my-4">
</div>
<p>This is the list of authors:</p>
<ul class="list-group">
  <% home_author %>
</ul>

</div>